*{
  margin: 0;
  padding: 0;
}

#container{
  width: 84%;
  max-width: 1280px;
  min-width: 512px;
  margin: 0 auto;
}

header {
   position:relative;
   height: 8rem;
   background: #333;
   box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
 }

   #logo {
     position: absolute;
     top: 3rem;
     left: 3rem;
     width: 3rem;
   }

  header h1{
    position: absolute;
    top: 3rem;
    left: 7.5rem;
    font-size: 2rem;
    color: white;
  }

nav {
  padding: 1rem 3rem ;
  background: #333;
}

  nav ul{
    display: flex;
    flex-direction: row;
  }

  nav ul li{
    margin-right: 2rem;
    list-style: none;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

main{
  display: flex;
  flex-direction: row;
}

  section{
    flex: 3;
    padding: 3rem;
    background: #EEE;
  }

  section h1{
    margin-bottom: 2rem;
  }

    article {
      min-height: 8rem;
      padding: 1rem;
      margin-bottom: 2rem;
      background: #FFF;
    }

    article p {
      margin-bottom: 1rem;
    }

    article ul {
      margin-left: 1rem;
      margin-bottom: 2rem;
    }

  aside{
    flex: 1;
    padding: 3rem;
    background: #DDD;
  }

  aside h1{
    margin-bottom: 2rem;
  }

footer {
  padding: 3rem 3rem;
  text-align: center;
  background: #333;
  color: white;
}


/*** Gallery Page ***/

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-box {
  width: 28%;
  padding: 1rem;
}

.image-box img {
  display:block;
  width: 100%;
}

.image-box p {
  padding: 1rem 0;
  margin-bottom: 0;
  font-size: 0.8rem;
}
